.custom-calendar {
  width: 90%; /* 캘린더 크기 조정 */
  max-width: 800px; /* 반응형 디자인을 위한 최대 크기 */
  font-family: 'Nunito', sans-serif; /* 캘린더 폰트 설정 */
  font-weight: 800;
  height: 80%;
  border: none;
}
.custom-calendar abbr {
  text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 15px;
}

.custom-calendar .react-calendar__tile {
  height: 90px; /* 캘린더 타일 높이 증가 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

.custom-calendar .react-calendar__tile--now {
  /* background: #f0f0f0; 현재 날짜 강조 */
  border-radius: 8px;
}
