body {
  display: flex;
  justify-content: center;
}

.loginForm {
  border: 3px solid red;
  flex-grow: 2;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group label {
  font-size: 20px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input {
  
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #ccc;
  border-radius: 4px;
}
.btn {
  margin-top: 30px;
  background-color: rgb(249, 222, 222);
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: red;
}
